.form__input-error {
  position: absolute;
  top: 35px;
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  color: #FF0000;
  padding-top: 4px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

@media screen and (max-width: 425px){
  .form__input-error{
    font-size: 8px;
    line-height: 12px;
    }
}