.form__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #000000;
  padding-top: 34px;
  width: calc(100% - 16.75%);
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

@media screen and (max-width: 768px) {
  .form__title {
    font-size: 1.125rem;
  }
}