.form__input {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
}

.form__input:not(:first-of-type) {
  margin-top: 23px;
}

.form__input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__input::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 375px){
  .form__input{
   outline: none;
  }
}