.card__like {
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 19px;
  background-size: contain;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all ease .1s;
  -o-transition: all ease .1s;
  transition: all ease .1s;
}

.card__like:hover {
  opacity: 0.5;
}

.card__like_active {
  background-image: url(../../../images/like-active.svg);
  opacity: 1;
}