@import url(../card/__img/card__img.css);
@import url(../card/__like/card__like.css);
@import url(../card/__title/card__title.css);
@import url(../card/__info/card__info.css);
@import url(../card/__delete/card__delete.css);

.card {
  max-height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}